<footer>
    <div class="container-fluid">
        <div class="container">
      <div class="row">
        <div class=" col-lg-4 col-md-6 p-4">
          <div class="ft">
            <h3>OnePage</h3>
            <p> A108 Adam Street <br> New York, NY 535022 <br> United States </p>
          </div>
          <div class="ft">
            <b><span> Phone  :</span>   +1 5589 55488 55 </b><br>
            <b><span>Email  :</span>  info@example.com</b>
          </div>
        </div>
        <div class="  col-lg-4 col-md-6 p-4 ">
          <div class="ft">
            <h4>Useful Link</h4>
            <ul class="list-unstyled">
              <li>
               <i class="bx bx-chevron-right"><a href="#" class="text-decoration-none">Home</a></i>
              </li>
              <li>
                <i class="bx bx-chevron-right"><a href="#" class="text-decoration-none">About</a></i>
              </li>
              <li>
                <i class="bx bx-chevron-right"><a href="#" class="text-decoration-none">Service</a></i>
              </li>
              <li>
                <i class="bx bx-chevron-right"><a href="#" class="text-decoration-none">Portfolio</a></i>
              </li>
              <li>
                <i class="bx bx-chevron-right"><a href="#" class="text-decoration-none">Contact</a></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-4 ">
          <div class="ft">
            <h4>Join Our Newsletter</h4>
            <div class="ft">
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  name="email">
                    <button class="input-group-text">Subscribe</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex p-2">
            <div class="copyright">
              <p> © Copyright <strong>OnePage.</strong> All Rights Reserved <br> Designed by <span>BootstrapMade</span></p>
            </div>
            
          </div> 
        </div>
        <div class="col-md-6 ">
          <div class="d-flex justify-content-end">
            <div class="icn p-2 m-2">
           <i class="bx bxl-twitter" ></i>
          </div>
          <div class="icn p-2 m-2">
            <i class="bx bxl-facebook" ></i>
           </div>
           <div class="icn p-2 m-2">
            <i class="bx bxl-instagram" ></i>
           </div>
           <div class="icn p-2 m-2  ">
            <i class="bx bxl-linkedin" ></i>
           </div>
           <div class="icn p-2 m-2  ">
            <i class="bx bxl-google-plus" ></i>
           </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex p-2">
        <div class="copyright">
          <p> © Copyright <strong>OnePage.</strong> All Rights Reserved <br> Designed by <span>BootstrapMade</span></p>
        </div>
        <div>

        </div>
      </div> -->
    </div>
    </div>
  </footer>