<div class="container p-5 my-5 ">
    <h2>Login Form</h2>
    <form>
      <div class="login p-5">
        <div class="container p-3 ">
              <div class="row  p-3">
                <div class="col-md-6 col-sm-6">
                  <label>Email:</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input type="email" class="form-control p-2" id="email" placeholder="Enter email" name="email">
                </div>
            </div>

            <div class="row  p-3"> 
              <div class="col-md-6 col-sm-6">
                <label>Password:</label>
              </div>
              <div class=" col-md-6 col-sm-6 ">
                <input type="password" class="form-control p-2" id="pwd" placeholder="Enter password" name="pswd">
              </div>
           </div>
           
           <div>
             <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
           </div>
        </div>
      </div> 
    </form>
</div>
  

<!-- <div class=" mb-3  mt-3">
  <input type="email" class="form-control p-2" id="email" placeholder="Enter email" name="email">
</div>
<div class="  mb-3">
  <input type="password" class="form-control p-2" id="pwd" placeholder="Enter password" name="pswd">
</div>
<button type="submit" class="btn btn-primary">Submit</button> -->